.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #232222;
    color: #eee;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    padding: 2rem;
    width: 220px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 240px;
}

.poster {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin-bottom: 1.5rem;
}

.overview {
    max-width: 180px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.title {
    max-width: 180px;
    margin-bottom: 1.5rem;
}

.hero {
    flex: 1;
}

button {
    padding: 0.5rem 1rem;
    background-color: #d35400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem; /* Add margin-top to create space between the rating buttons and the "Add to Wishlist" button */
}

button:hover {
    background-color: #e67e22;
}

